.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    height: 2rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav > p {
    margin: 0;

    font-size: larger;
}

.nav > div {
    flex-grow: 1;
}

.nav > a {
    margin: 0;

    text-decoration: none;
    color: black;
}