.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    height: 2rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav > p {
    margin: 0;

    font-size: larger;
}

.nav > div {
    width: 0.1rem;
    height: 90%;

    margin-left: 1rem;
    margin-right: 1rem;

    background-color: black;

    border-radius: 0.1rem;
}

.nav > a {
    margin: 0;

    text-decoration: none;
    color: black;
}